extends layout


block content
  h1 Camp Create EDU 
  p.lead Welcome to the Camp Create EDU Roll Call Wi-Fi Network
  
  form.form-horizontal(role='form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='client_mac', value= mac_address)
    input(type='hidden', name='redirect_url', value= redirect_url)
    input(type='hidden', name='image_data', value='')
    .form-group
      label(class='col-sm-2 control-label', for='email_address') Email Address: 
      .col-sm-8
        input.form-control(type='text', name='client_email', id='client_email', autofocus=true)
    //.form-group
      label(class='col-sm-2 control-label', for='client_photo') Take a Picture: 
      .col-sm-8
        input.form-control(id='client_photo' type='file', accept='image/*', capture='user' name='client_photo' onchange='printFileName()')
    //
    .form-group
      .col-sm-offset-2.col-sm-8
        button.btn.btn-primary(type='submit')
          i.fa.fa-envelope
          | Connect